<!DOCTYPE html>
<html>
<head>


    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - DigitalMVC</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>

    <link href="https://kendo.cdn.telerik.com/2018.3.911/styles/kendo.common.min.css" rel="stylesheet" type="text/css" />
    <link href="https://dhgcdn.blob.core.windows.net/cdn/css/kendo.dhgmetro2017.css" rel="stylesheet" type="text/css" crossorigin="anonymous" />


    <script src="https://kendo.cdn.telerik.com/2018.3.911/js/jquery.min.js"></script>
    <script src="https://kendo.cdn.telerik.com/2018.3.911/js/kendo.all.min.js"></script>
    <script src="~/js/KendoScripts.js"></script>


</head>
<body>

    <div class="container">
        <div class="row">
            <div class="col-md-3">
                Terro Blogs
            </div>
            <div class="col-md-9">

                <ul id="menu" style="float: right;">

                    <li style="text-align: center;">
                        <a asp-action="index" asp-controller="home">
                            <img src="~/images/home.png" style="width: 2.5em; height: 2.5em;" />
                            Home

                        </a>
                    </li>

                    <li style="text-align: center;">
                        <a asp-action="Contact" asp-controller="home">

                            <img src="~/images/contact.png" style="width: 2.5em; height: 2.5em;" />
                            Contact Me
                        </a>
                    </li>

                    <li style="text-align: center;">
                        <a asp-action="Login" asp-controller="home">
                            <img src="~/images/login.png" style="width: 2.5em; height: 2.5em;" />
                            Login
                        </a>
                    </li>

                    <li style="text-align: center;">
                        <a asp-action="CreateAccount" asp-controller="home">
                            <img src="~/images/login.png" style="width: 2.5em; height: 2.5em;" />
                            Register
                        </a>
                    </li>
                </ul>


            </div>

        </div>
    </div>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; 2018 - DigitalMVC</p>
        </footer>
    </div>

    <environment include="Development">
  
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)
    
</body>
</html>
